.new-task {
  &__title {
    margin-bottom: 60px;

    @include breakpoint(480px) {
      margin-bottom: 40px;
    }
  }

  &__block {
    margin-bottom: 55px;
  }

  &__form {
    & .form {
      &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 105px;

        @include breakpoint(992px) {
          flex-direction: column;
          gap: 40px;

          margin-bottom: 60px;
        }
      }

      &__left,
      &__right {
        width: 100%;
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }

      &__btn {
        padding: 12px 1px;

        width: 100%;

        @include breakpoint(992px) {
          margin-top: 40px;
        }
      }
    }
  }

  &__input {
    width: 100%;

    background: #edeef0;
  }

  &__label {
    font-weight: 600;
    line-height: 30px;
  }
}
